body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: transparent; 
    background-color: rgba(0, 0, 0, 0);
}

#pet-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag; 
}

#pet-img {
    width: 120px;
    height: auto;
    -webkit-app-region: drag; 
    cursor: pointer;
}